html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

h1{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

p{
    font-size: 9.5px;
    font-family: 'Raleway', sans-serif;
}

a {

}

a:hover {

}

.box {
    border-radius: 10px;
    box-shadow: 5px 5px 10px #0000006b;
    background-color: white;
    border: solid 3px white;
    font-size: 11px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.box:hover{
    box-shadow: 5px 5px 10px black;
}

body{
    background-color: white;
    width: 100%;
    max-width: 850px;
    align-content : center;
    margin: auto;
}

header{
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section{
    background-color: #efefef;
}

#recherche{
    background-color: white;
    width: 100%;
    margin-bottom: 20px;
}

form{
    height: 30px;
}

#zone-recherche{
    height: 100%;
}

.zone-texte{
    width: 198px;
    height: 100%;
    padding: 0;
    margin: 0px;
}

.btn{
    font-size: 11px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: white;
    border-radius: 15px;
    border: 2px solid grey;
    padding: 5px 5px 5px 5px;
    height: 100%;
    cursor: pointer;
}

.btn:hover{
    box-shadow: 2px 2px 2px grey;
}

.btn1{
    color: white;
    background-color: blue;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn2{
    
}

.btn3{
    
}

.btn4{
    
}

.btn5{

}

.fond{
    background-color: #efefef;
    border-radius: 15px;
    padding: 20px;
}

.hebergement{
    width: 520px;
}

.flex-hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.hebergement article{
    width: 145px;
    height: 118px;
}

.populaire{
    width: 250px;
}

.flex-populaire{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    flex-direction: column;
}

.populaire article{
    width: 100%;
    height: 85px;
}

.activites{
    background-color: white;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-activites{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: 265px;
}

.flex-activites article{
    border-radius: 15px;
    width: 180px;
    height: 50%;
}

.flex-activites article:nth-child(3n+1){
    height: 265px;
}

.flex-activites article:nth-child(2){
    height: 100px;
}

.flex-activites article:nth-child(3){
    height: 50px;
}

.flex-activites article:nth-child(5){
    height: 70px;
}

.flex-activites article:nth-child(6){
    height: 80px;
}


footer{
    background-color: #efefef;
}

footer ul{
}

footer li{
    font-size: 9px;
    font-family: 'Raleway', sans-serif;
}

footer li:first-child{
    font-weight: bold;
}